<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ note?.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ note?.date | date:'dd-MM-YYYY, h:mm a'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{note?.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="note?.status==='active'"
      mat-button 
      color="primary" 
      (click)="button.emit('archived')"
    >
      Archivar nota
    </button>
    <button
      *ngIf="note?.status!=='deleted'"
      mat-button 
      color="primary" 
      (click)="button.emit('deleted')"
    >
      Eliminar nota
    </button>
  </mat-card-actions>
</mat-card>